# Insurance Data Analytics- Exploratory Data Analysi (EDA)
  - Goal: To Develop a foundational understanding of the data, assess its quality, and uncover initial patterns in risk and profitability

# üõ†Ô∏è Setup & Imports
We load the necessary packages and prepare the notebook for data profiling and EDA.

In [ ]:
# Import Dependencies 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import uuid
from datetime import datetime
from IPython.display import display
import csv

# Set plot style for better visualization
plt.style.use('seaborn')
sns.set_palette("deep")

## 1.Data Understanding and summarization 
   - loading of Data
   - Understanding of data

In [7]:
# Data loading  and Displaying same column 
df = pd.read_csv('F:/Insurance_Risk-Analysis_Predictive_Modelling/data/output2.csv', dtype={32: object, 37: object})
df.head()
#df = pd.read_csv('F:/Insurance_Risk-Analysis_Predictive_Modelling/data/output2.csv', low_memory=False)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

## 2. Basic Statistical summarization
  - Data structure (to know what is column and Data types )

In [ ]:
# Print the column names and data types
print("=== Data Structure ===")
print(df.info())

=== Data Structure ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB
None

- Descriptive Statistics

In [10]:
print("\n=== Descriptive Statistics ===")
numerical_cols = ['TotalPremium', 'TotalClaims', 'SumInsured', 'CustomValueEstimate', 
                  'Cylinders', 'cubiccapacity', 'kilowatts' , 'NumberOfDoors']
print(df[numerical_cols].describe())

=== Descriptive Statistics ===
       TotalPremium   TotalClaims    SumInsured  CustomValueEstimate  \
count  1.000098e+06  1.000098e+06  1.000098e+06         2.204560e+05
mean   6.190550e+01  6.486119e+01  6.041727e+05         2.255311e+05
std    2.302845e+02  2.384075e+03  1.508332e+06         5.645157e+05
min   -7.825768e+02 -1.200241e+04  1.000000e-02         2.000000e+04
25%    0.000000e+00  0.000000e+00  5.000000e+03         1.350000e+05
50%    2.178333e+00  0.000000e+00  7.500000e+03         2.200000e+05
75%    2.192982e+01  0.000000e+00  2.500000e+05         2.800000e+05
max    6.528260e+04  3.930921e+05  1.263620e+07         2.655000e+07

           Cylinders  cubiccapacity      kilowatts  NumberOfDoors
count  999546.000000  999546.000000  999546.000000  999546.000000
mean        4.046642    2466.743258      97.207919       4.019250
std         0.294020     442.800640      19.393256       0.468314
min         0.000000       0.000000       0.000000       0.000000
25%         4.000000    2237.000000      75.000000       4.000000
50%         4.000000    2694.000000     111.000000       4.000000
75%         4.000000    2694.000000     111.000000       4.000000
max        10.000000   12880.000000     309.000000       6.000000

##   3.Data Quality Assasement
 -  missing value in each document
 -  Duplicates

In [12]:
# Data Quality Assessment
print("\n=== Missing Values ===")
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])
# Check for duplicates
print("Number of duplicates:", df.duplicated().sum())

=== Missing Values ===
Bank                        145961
AccountType                  40232
MaritalStatus                 8259
Gender                        9536
mmcode                         552
VehicleType                    552
make                           552
Model                          552
Cylinders                      552
cubiccapacity                  552
kilowatts                      552
bodytype                       552
NumberOfDoors                  552
VehicleIntroDate               552
CustomValueEstimate         779642
CapitalOutstanding               2
NewVehicle                  153295
WrittenOff                  641901
Rebuilt                     641901
Converted                   641901
CrossBorder                 999400
NumberOfVehiclesInFleet    1000098
dtype: int64
Number of duplicates: 0

**Convert TransactionMonth to datetime**